<h3>My inventory</h3>

<CascadingValue Value="@this">
    <CascadingValue Value="Items">
        <div class="container">
            <div class="row">
                <InventoryItem Index="0"/>
                <InventoryItem Index="1"/>
                <InventoryItem Index="2"/>
                <InventoryItem Index="3"/>
                <InventoryItem Index="4"/>
                <InventoryItem Index="5"/>
            </div>
            <div class="row">
                <InventoryItem Index="6"/>
                <InventoryItem Index="7"/>
                <InventoryItem Index="8"/>
                <InventoryItem Index="9"/>
                <InventoryItem Index="10"/>
                <InventoryItem Index="11"/>
            </div>
            <div class="row">
                <InventoryItem Index="12"/>
                <InventoryItem Index="13"/>
                <InventoryItem Index="14"/>
                <InventoryItem Index="15"/>
                <InventoryItem Index="16"/>
                <InventoryItem Index="17"/>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>Actions</h3>
                    <div class="actions" id="actions"></div>
                </div>
            </div>
        </div>
    </CascadingValue>
</CascadingValue>