@inherits LayoutComponentBase

<PageTitle>SF-Minecraft-Blazor</PageTitle>

<CascadingValue Value="snackbarStack">
    <SnackbarStack @ref="snackbarStack" Location="SnackbarStackLocation.Start"/>

    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main class="main">
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>