<div class="top-row navbar navbar-dark">
    <div class="container-fluid gap-1 justify-content-center">
        <div class="row">
            <a class="navbar-brand text-center" href="">SF-Minecraft-Blazor</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="row justify-content-center mb-3">
            <CultureSelector/>
        </div>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory" Match="NavLinkMatch.All">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> My inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="items" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Items
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}